#header {
    width: 100%;
    height: 550px;
}

#descricao {
    width: 874px;
}

#perfil {
    width: 282px;
    height: 269px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
    margin-top: 20px;
}

#alinhamento {
    display: flex;
    align-items: center;
    gap: 325px;
}

#rodape {
    background-color: black;
    width: 100%;
    height: 136px;
    color: white;
    display: flex;
    align-items: center;
    margin-top: 350px;
}

.espacotexto {
    margin-left: 50px;
}

.imagens {
    width: 290px;
    height: 210px;
    margin-left: 12px;
}

.fundo-da-foto {
    background-color: black;
    padding: 15px;
}
